<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styl.css') }}" />
        <title>Strona1</title>
    </head>
    <body>
        <h1>Witam na mojej stronie domowej </h1>
            </n>
        <img src="{{url_for('static',filename='obrazek.png')}}" alt="Abra" title="avatar">
        <h2 class="opis"> O MNIE </h2>
            </n>
        <p><strong>imie</strong>: Dawid</p>
        <p><strong>nazwisko</strong>: Konieczny</p>
    </body>
</html>