<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styl.css') }}" />
        <title>Strona2</title>
    </head>
    <body>
        <h1>Witam na mojej stronie domowej </h1>
            </n>
        <img src="{{url_for('static',filename='obrazek.png')}}" alt="Abra" title="avatar">
        <h2 id="opis"> Kontakt </h2>
            </n>
        <ui>
            <li>email:mail@gmail.com</li>
            <li>telefon: +48 500 400 200</li>
        </ui>
        <p class="Powiadomienie"><Strong>Wyslij wiadomosc</Strong></p>
        <form>
            <textarea></textarea>
        </form><button type="rodzaj">Przeslij!</button>
    </body>
</html>